@import "./styles/base";

.main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;

  @include md-screen {
    width: $md-width - 10;
  }
}
